
.detalhe{
    width: 100%;
}

.imagem-detail{
    width: 100%;
    height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-detail-element{
    margin-top: 3%;
    width: 100%;
    height: 350px;
    text-align: center;
}

.img-detail-element img{
    width: 70%;
    height: 350px;
    border-radius: 10px;
}

.itens{
    width: 90%;
    height: 120px;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}



.item{
    width: 100%;
    position: relative; 
    display: flex;
    flex-direction: row;
    transition: 2s;
}

.img-detail-pub{
    cursor: pointer;
    border-radius: 10px;
    width: 250px;
    height: 75px;
    border: 2px solid rgb(248, 89, 116);
    padding: 8px;
    margin-left: 4%;
}

h1 span{
    font-size: 22px;
    font-weight: bold;
}

.scroll-lider{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.scroll-lider h1{
    margin-right: 20px;
}

.btn-retor1{
    background-color: rgb(248, 89, 116);
    color: white;
    border-radius: 8px;
    justify-content: center;
    padding: 2px 10px 4px 10px;
    display: flex;
    width: 30px;
    cursor: pointer;
}

.conteiudo-detail{
    font-size: 22px;
    font-weight: bold;
    width: 90%;
    margin-left: 5%;
}

.precario{
    width: 80%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
}
.precario-actual{
    margin-left: 40px;
    line-height: 1px;
    text-align: center;
}

h4 strike{
    color: gray;
}

.conteiudo-detail h3{
    text-align: center;
    color: rgb(248, 89, 116);
}

.btn-reserver{
    background-color: rgb(248, 89, 116);
    width: 200px;
    height: 40px;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.btn-reserver p{
    font-size: 22px;
    font-weight: bold;

}

#rad1:checked ~ .first{
    margin-left: 0;
}

#rad2:checked ~ .first{
    margin-left: -70%;
}

.itens input{
    display: none;
}

.publicidade h3{
    text-align: center;
}

.pagamentoBody{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.pagamento{
    width: 50%; 
    height: 400px; 
    background-color: white; 
    position: absolute; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    top: 20px; 
    margin: auto; 
    padding: 10px 50px; 
    display: flex; 
    flex-direction: column; 
    box-shadow: 0px 0px 27px -3px rgba(0, 0, 0.87);
}


.TituloPagamento{
    font-size: 20px; 
    color: gray;
}

.InputPagamento{
    padding: 3px; 
    margin: 2px 10px; 
    border: none; 
    border-bottom: 1px solid gray;
    color: rgb(248, 89, 116);
    font-family: "Dancing Script", cursive;
    font-size: 17px;
}

.InputPagamento1{
    font-family: "Dancing Script", cursive;
    font-size: 17px;
    padding: 5px; 
    margin: 2px 10px; 
    border: none; 
    border-bottom: 1px solid gray;
    color: rgb(248, 89, 116);
}

.InputPagamento::placeholder{
    font-family: "Dancing Script", cursive;
    font-size: 17px;
    font-weight: bold;
    color: rgb(248, 89, 116);
    font-size: 15px;
}
.CardIcon{
    display: flex;
}
.tamanhoImagem{
    width: 40px;
    height: 40px;
}
.cardInformation{
    display: flex;
    justify-content: space-between;
}

.sm{
    width: 30%;
}
.comprar{
    position: absolute;
    height: 40px;
    bottom: -40px;
    width: 100%;
    left: 0;
    box-shadow: 0px 0px 0px -3px rgba(0, 0, 0.87);
    border: none;
    cursor: pointer;
    background-color: rgb(248, 89, 116);
    color: white;
    font-weight: bold;
    font-family: "Dancing Script", cursive;
    font-size: 22px;
}
.Fechar{
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: gray;
    color: white;
    top: 10px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}
.Fechar:hover{
    background-color: rgb(248, 89, 116);
    transition: 0.6s;
}

.publicidade h3{
    font-size: 22px;
    font-weight: bold;
}


/* Responsividade para tablets*/
@media screen and (min-width:767px) and (max-width:1023px){

    .img-detail-pub{
        border-radius: 10px;
        width: 250px;
        height: 75px;
        border: 2px solid rgb(248, 89, 116);
        padding: 8px;
        margin-left: 8%;
    }
}

  /* Responsividade para telas de celulares */
  @media screen and (min-width:300px) and (max-width:767px){
    .img-detail-pub{
        border-radius: 10px;
        width: 52px;
        height: 75px;
        border: 2px solid rgb(248, 89, 116);
        padding: 8px;
        margin-left: 3%;
    }

    .img-detail-element{
        margin-top: 3%;
        width: 100%;
        height: 350px;
        text-align: center;
    }

    .img-detail-element img{
        width: 70%;
        height: 300px;
        border-radius: 10px;
    }

    .scroll-lider{
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        margin: auto;
        flex-direction: row;
    }
    
    .scroll-lider h1{
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .btn-retor{
        background-color: rgb(248, 89, 116);
        color: white;
        border-radius: 8px;
        justify-content: center;
        padding: 2px 10px 4px 10px;
        display: flex;
        width: 30px;
        cursor: pointer;
    }

    
    .precario{
        width: 90%;
        margin-left: 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
.precario-actual{
    width: 40%;
    margin-left: 0px;
    line-height: 1px;
    text-align: center;
}

h4 strike{
    color: gray;
}

.conteiudo-detail h3{
    text-align: center;
    color: rgb(248, 89, 116);
}

.btn-reserver{
    background-color: rgb(248, 89, 116);
    width: 40%;
    height: 40px;
    color: white;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-reserver p{
    font-size: 17px;
}


    
  }